.first{
        height: 200px;
        width:300px;
        background: purple
    }
    
#second{
        height: 200px;
        width:300px;
        background: green
        }

#home{
    height: 400px;
    width:100%;
    background: violet
}

#about{
        height: 400px;
        width:100%;
        background: pink
}

#contact{
        height: 400px;
        width:100%;
        background: yellow

}